@model IEnumerable<LocalizationRep.Models.FileModel>
@{ ViewData["Title"] = "Добавление файла"; }

<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="FileAction" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" />
    <input type="submit" value="Загрузить" />
</form>
<h3>@ViewData["Error"] </h3>
<form>
    <input type="submit" formaction="/FileAction/UpdateSectionFromFile" value="Обновить разделы" />
    <input type="submit" formaction="/FileAction/EraseAllSectionFromDb" name="whatIMustRemove" value="All" />
    <input type="submit" formaction="/FileAction/EraseAllSectionFromDb" name="whatIMustRemove" value="Files" />
    <input type="submit" formaction="/FileAction/EraseAllSectionFromDb" name="whatIMustRemove" value="Sections" />
    <input type="submit" formaction="/FileAction/EraseAllSectionFromDb" name="whatIMustRemove" value="MainTable" />
    <input type="submit" formaction="/FileAction/PopulateDBWithValuesFromFiles" value="Заполнить базу из файлов" />
</form>
<form>
    <input type="text" size="40" formaction="/FileAction/CreateFileCSVFromDb" name="nameFileCsv" required placeholder="Введите название файла" />
    <input type="submit" formaction="/FileAction/CreateFileCSVFromDb" value="Сформировать CSV" />
</form>
<form>
    <input type="submit" formaction="/FileAction/ReadFileCSVFromDb" value="Прочитать CSV" />
</form>
<form>
    <input type="submit" formaction="/FileAction/CreateFileJsonFromDb" value="Сформировать Json" />
</form>
<form>
    <input type="submit" formaction="/FileAction/CreateFileXMLFromDb" value="Сформировать XML" />
</form>
<form>
    <input type="submit" formaction="/FileAction/ReadFileXML" value="Прочитать все XML файлы" />
</form>
<form>
    <input type="submit" formaction="/FileAction/ChangeStyleName" value="Заменить названия стилей" />
</form>



<h3>@ViewData["Section"] </h3>
<br />

<!--
<h3>Все файлы</h3>
@foreach (var f in Model)
{
    if (f.Name.Contains(".jpg") || f.Name.Contains(".png"))
    {
        <p><img src="@Url.Content(f.Path)"></p>
    }
    <p>@f.Name.ToString()</p>
}
-->

<form asp-action="UpDateInfoFilesInDB" asp-controller="FileAction" method="post" enctype="multipart/form-data">
    <input type="submit" value="UpDateInfoFilesInDB" />
</form>



<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Разворачиваемая панель #1
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">

                <table class="table">
                    <thead>
                        <tr>

                            <th scope="col">UPLOAD FILES</th>
                            <th scope="col">UPLOAD FILES</th>
                            <th scope="col">UPLOAD XML FILES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>

                                @foreach (var item in Model)
                                {
                        @if (item.TypeOfLoad == "UPLOAD" && item.Name.Contains(".csv"))
                        {
                        <li>
                            @item.Name
                            <a asp-action="UpdateFileInDatabase" asp-route-filename="@item.Name">UpDate</a><br>
                            <a asp-action="RemoveFileFromServer" asp-route-fullpath="@item.Path">Remove</a>
                        </li>}}
                            </td>
                            <td>
                                @foreach (var item in Model)
                                {
                        @if (item.TypeOfLoad == "UPLOAD" && item.Name.Contains(".xml"))
                        {
                                <li>
                                    @item.Name
                                    <a asp-action="UpdateFileInDatabase" asp-route-filename="@item.Path">UpDate</a><br>
                                    <a asp-action="UpdateXMLFromFile" asp-route-path="@item.Path">AddToDB</a><br>
                                    <a asp-action="RemoveFileFromServer" asp-route-fullpath="@item.Path">Remove</a>
                                </li>}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Разворачиваемая панель #2
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Path)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    <a asp-action="Download" asp-route-fullpath="@item.Path">@item.Name</a><br>
                    <a asp-action="UpdateFileInDatabase" asp-route-filename="@item.Name">UpDate</a><br>
                    <a asp-action="RemoveFileFromServer" asp-route-fullpath="@item.Path">Remove</a>
                    @if (@item.Name.Contains(".csv"))
                    {
    <a asp-action="ReadUploadedCSVFile" asp-route-nameFileCsv="@item.Name">CSV</a>}



                </td>
            </tr>}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Разворачиваемая панель #3
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">

                <table class="table">
                    <thead>
                        <tr>

                            <th scope="col">UPLOAD FILES</th>
                            <th scope="col">DOWNLOAD FILES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>

                                @foreach (var item in Model)
                                {
                    @if (item.TypeOfLoad == "UPLOAD")
                    {
    <li>
        @item.Name

        @if (item.Name.Contains(".xml"))
        {
<a asp-action="ReadFileXML"
   asp-route-path="@item.Path">
    ReadFileXML
</a>}
    </li>}}
                            </td>
                            <td>
                                <ul>
                                    @foreach (var item in Model)
                                    {
                        @if (item.TypeOfLoad == "DOWNLOAD")
                        {
        <li>
            <a asp-action="Download"
               asp-route-fullpath="@item.Path">
                @item.Name
            </a>
        </li>}}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>







