@model IEnumerable<LocalizationRep.Models.NotMatchedItem>
@{
    ViewData["Title"] = "Добавление файла";
}

<h3>@ViewData["Error"] </h3>
<form>
    <input type="submit" formaction="/FileAction/UpdateSectionFromFile" value="Обновить разделы" />
    <input type="submit" formaction="/FileAction/EraseAllSectionFromDb" name="whatIMustRemove" value="All" />
</form>


<form>
    <input type="submit" formaction="/FileAction/ReadFileXML" value="Прочитать все XML файлы" />
</form>

<form>
    <input type="submit" formaction="/FileAction/DeleteDublicateAction" value="Найти дубликаты" />
</form>

<form>
    <input type="submit" formaction="/FileAction/EraseAndoridCommentInMainTable" value="Удалить комментарии из сводной таблицы" />
</form>
<form>
    <input type="submit" formaction="/FileAction/RemoveAllAndoridIdMatchesInMainTable" value="Удалить все совпадения ID из сводной таблицы" />
</form>


<h3>@ViewData["Section"] </h3>
<br />


<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Разворачиваемая панель #1
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-striped">





                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AndroidID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NodeInnerText)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CommentValue)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StringNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Section)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AndroidID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NodeInnerText)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CommentValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StringNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Section)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Разворачиваемая панель #2
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Разворачиваемая панель #3
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">


            </div>
        </div>
    </div>
</div>







